.about-header {
    background-color: #252B42;
}

.about-footer {
    background-color: #252B42;
    color: white;
}

.about-footer h1 {
    color: white;
}

.about-footer span {
    color: rgba(255, 255, 255, 0.6);
}

.about-footer a {
    color: rgba(255, 255, 255, 0.6);
}

.about-footer button {
    background-color: rgba(190, 183, 124, 1);
}