.data-migration h1 {
    padding-bottom: 1rem;
}

.data-migration-section {
    width: 100%;
    display: flex;
}

.data-migration-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data-migration-list {
    padding-bottom: 1rem;
    display: flex;
}

.data-migration-icon {
    color: rgba(0, 0, 0, 0.6);
    padding-top: .4rem;
    font-size: 1.2rem;
}

.data-migration-text {
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    letter-spacing: 0;
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-left: .7rem;
}

@media (max-width: 768px) {
    .data-migration-section {
        flex-wrap: wrap;
    }
}
