.slider1-subsection {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
}

.slider1-button-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 600px) {
    .header-section {
        display: none !important;
    }
}
