.navbar {
    /* border: 2px solid blue; */
    background: #ffffff;
    width: 500px;
    height: 60px;
    display: flex;
    margin: auto;
    margin-top: 15px;
    z-index: 12;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.navbar-menu {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    width: 720px;
    white-space: nowrap;
}

.navbar-link {
    color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.navbar-link.active {
    color: #ffffff;
    background-color: rgba(190, 183, 124, 1);
}

.navbar-link:hover {
    color: #ffffff;
    background-color: rgba(190, 183, 124, 1);
}

.bars {
    display: none;
    color: #808080;
}

@media (max-width: 1200px) {
    .navbar {
        top: 0;
        left: 0;
    }
}

@media (max-width: 768px) {
    .navbar {
        /* border: 3px solid moccasin; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: transparent;
    }
    .navbar-menu {
        display: none;
    }
    .bars {
        display: flex;
        font-size: 2.5rem;
        cursor: pointer;
        color: white;
    }
}
