.message-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-subsection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.message-logo-contact {
    width: 50%;
    color: rgba(0, 0, 0, 0.6);
}

.message-logo {
    width: 62%;
}

.message-contact {
    margin-left: 6%;
}

.message-questions {
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.message-text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 2.3rem;
    line-height: 4rem;
}

.message-subtitle {
    color: rgba(0, 0, 0, 0.6);
    display: block;
    text-align: left;
    width: 60%;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 400;
}

.message-contact-form {
    width: 60%;
}

.message-contact-form input {
    background-color: lightgray;
    height: 5rem;
    width: 75%;
}

.message-contact-form textarea {
    background-color: lightgray;
    height: 25rem;
}

@media (max-width: 768px) {
    .message-contact {
        flex-direction: column;
    }
    .message-contact-form {
        width: 75%;
    }
    .message-contact-form input {
        width: 100%;
    }
    .message-subtitle {
        text-align: center;
        /* font-size: 1.5rem; */
        width: 75%;
    }
    .message-logo-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 1.6rem !important;
    }
    .message-text {
        font-size: 2.2rem;
        padding: 0rem !important;
    }
    .message-questions {
        padding: 0rem !important;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .message-contact-form {
        width: 90%;
    }
    .message-subtitle {
        width: 90%;
    }
    .message-text {
        font-size: 2rem;
    }
}
