.subtitle {
    color: rgba(255, 255, 255, 0.66);
    position: relative;
    display: flex;
    letter-spacing: 0;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 400;
}

.subtitle-fstart {
    justify-content: flex-start;
}

.subtitle-fend {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .subtitle {
        width: 100%;
        font-size: 26px;
        justify-content: center;
    }
}
