.services-header {
    background-color: #252b42;
}

.services-footer {
    background-color: #dddddd;
    color: black;
}

.services-footer h1 {
    color: black;
}

.services-footer span {
    color: rgba(0, 0, 0, 0.6);
}

.services-footer a {
    color: rgba(0, 0, 0, 0.6);
}

.services-footer button {
    background-color: #333333;
    color: white;
}
