.title {
    /* border: 3px solid red; */
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: 0;
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.title-fstart {
    justify-content: flex-start;
}

.title-dark-gray {
    color: #252B42;
}

@media (max-width: 768px) {
    .title {
        width: 100%;
        font-size: 40px;
        justify-content: center;
    }
}

