.contact {
    position: relative;
    display: grid;
    grid-template-columns: 0% 100%;
}

.contact__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: 1/2;
}

.contact__header {
    width: 100%;
    background-color: #252b42;
}

.contact__footer {
    color: white;
    background-color: #252b42;
    display: flex;
    justify-content: center;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.contact__footer h1 {
    color: white;
}

.contact__footer span {
    color: rgba(255, 255, 255, 0.6);
}

.contact__footer a {
    color: white;
}

.contact__footer button {
    background-color: #333333;
    color: white;
}

@media (max-width: 768px) {
    .contact__header {
        height: 44rem;
    }
}
