.home-footer {
    background-color: #DDDDDD;
}

.home-footer h1 {
    color: black;
}

.home-footer span {
    color: rgba(0, 0, 0, 0.6);
}

.home-footer a {
    color: rgba(0, 0, 0, 0.6);
}

.home-footer button {
    background-color: #333333;
}
