.home-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-footer {
    background-color: #dddddd;
    display: flex;
    flex-direction: row;
}

.home-footer h1 {
    color: black;
}

.home-footer span {
    color: rgba(0, 0, 0, 0.6);
}

.home-footer a {
    color: rgba(0, 0, 0, 0.6);
}

.home-footer button {
    background-color: #333333;
}

@media (max-width: 600px) {
    .home-footer {
        flex-direction: column;
    }
}
