.logo {
    /* border: 3px solid yellow; */
    width: 467px;
    margin: auto;
    z-index: 12;
}
@media (max-width: 550px) {
    .logo {
        width: 450px;
        margin-top: 60px;
    }
}
@media (max-width: 546px) {
    .logo {
        /* width: 250px; */
    }
}
