.side-drawer {
    position: fixed;
    width: 325px;
    max-width: 80%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #252b42;
    padding: 3.2rem 1.6rem;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 768px) {
    .side-drawer {
        display: none;
    }
}

.side-drawer-open {
    transform: translateX(0);
}

.side-drawer-close {
    transform: translateX(-100%);
}

.sidedrawer-nav-item {
    border-top: .1rem solid white;
    margin: 1rem;
    box-sizing: border-box;
    display: block;
    height: 100%;
}

.sidedrawer-nav-item a {
    border-bottom: .1rem solid white;
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    line-height: 2em;
    font-size: 2.4rem;
}

.sidedrawer-nav-item a:hover,
.sidedrawer-nav-item a:active,
.sidedrawer-nav-item a.active {
    color: rgba(190, 183, 124, 1);
}
