.button-center {
    /* border: 3px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-fstart {
    /* border: 3px solid red; */
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button {
    background-color: rgba(190, 183, 124, 1);
    color: white;
    width: 200px;
    height: 25px;
    display: flex;
    padding: 12px 37px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

/* 294 */
.w3-button {
    /* border: 3px solid red; */
    width: 200px;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: rgba(190, 183, 124, 1);
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .button-fstart {
        /* border: 3px solid red; */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
