.navigation {
    /* border: 3px solid purple; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 300px;
}
@media (max-width: 768px) {
    .navigation {
        padding: 0px;
        height: auto;
        justify-content: flex-start;
    }
}

@media (max-width: 550px) {
    .navigation {
        flex-wrap: wrap-reverse;
    }
}