.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

@media (max-width: 768px) {
    .navigation {
        padding-bottom: 3.2rem;
    }
}
