.ellipses {
    position: absolute;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipse {
    background-color: rgba(196,196,196,1);
    width: 22px;
    height: 22px;
    margin-left: 10px;
    border-radius: 50%;
}

.ellipse-active {
    background-color: rgba(102,102,102,1);
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

