.header-section {
    /* border: 3px solid limegreen; */
    /* position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%; */
}

.slider1-subsection {
    /* border: 3px solid plum; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
}

.slider1-button-wrapper {
    /* border: 3px solid blue; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    .header-section {
        /* display: none; */
        /* margin-top: 40px;
        justify-content: center; */
    }
}

@media (max-width: 600px) {
    .header-section {
        display: none !important;
    }
}