.about-section {
    border: 3px solid limegreen;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 1200px) {
    .about-section {
    /* width: 500px;
    height: auto; */
    justify-content: center;
    }
}

@media (max-width: 768px) {
    .about-section {
    margin-top: 5%;
    justify-content: center;
    }
}
