.contact-color {
    color: #000;
}

.contact-data-image {
    /* border: 3px solid pink; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-subtitle {
    /* border: 3px solid blue; */
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: 0;
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 400;
}

.contact-list-wrapper {
    /* border: 3px solid blue; */
    text-align: center;
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-text-wrapper {
    font-size: 18px;
    line-height: 1.7em;
}

.contact-button-background {
    background-color: #333333;
}

@media (max-width: 768px) {
    .contact-subtitle {
        font-size: 20px;
    }
}