.copyright-background {
    background-color: #333333;
}

.copyright-text {
    color: rgba(255, 255, 255, 0.66);
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

@media (max-width: 550px) {
    .copyright-text {
        font-size: 1rem;
    }
}
