.data-analytics {
    background-color: #252b42;
}

.data-analytics h1 {
    padding-bottom: 1rem;
    color: white;
}

.data-analytics-section {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.data-analytics-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data-analytics-list {
    padding-bottom: 1rem;
    display: flex;
}

.data-analytics-icon {
    color: white;
    padding-top: .4rem;
    font-size: 1.2rem;
}

.data-analytics-text {
    color: white;
    position: relative;
    letter-spacing: 0;
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-left: .7rem;
}

@media (max-width: 768px) {
    .data-analytics-section {
        flex-wrap: wrap;
    }
}
