.link {
    text-decoration: none;
    color: black;
    letter-spacing: 0;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}